@{
    ViewBag.Title = "Главная";
}
<br>
<br>

<p> <h3>Система учета успеваемости студентов по программе "Инженер-программист"</h3></p>
<div>

    <p>
        @Html.ActionLink("Введите данные студента", "InputData")
    </p>
</div>
