@model ITMO._2022.ASP.net.MVC.Exam.Models.Student

@{
    ViewBag.Title = "WorstStudents";
}

<br>
<br>
<h2>Список отстающих студентов</h2>

<table>


    @foreach (var c in ViewBag.Students)
    {

        <tr>
            <td><p> @c</p></td>
        </tr>

    }
</table>

<div>
    <p>
        @Html.ActionLink("Внести новые данные студента", "InputData")
    </p>
    <p>
        @Html.ActionLink("Список студентов", "OutputData")
    </p>
</div>

